/* Based on socket io chat app code template */

body {
  padding-top: calc(5vh/2);
  padding-left: 40px;
  padding-right: 40px;
  background: url("/3142803.webp") no-repeat center center fixed;
  /* https://wallpaperaccess.com/colors-desktop */
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 100%;
}

/* Change/set nickname and color in modal */
.modal {
  display: block;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.modal-content {
  margin: 15vh auto;
  padding: 50px 16px;
  width: 75%;
  max-width: 550px;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-content>* {
  margin-top: 6px;
}

.modal_inputs>input {
  background-color: rgb(51, 51, 51);
  color: white;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.modal_inputs input[type=text] {
  /* give space for color selector */
  width: calc(100% - 150px);
}

.modal_inputs>select {
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 0.5rem;
}

.modal_buttons {
  display: flex;
  justify-content: space-around;
}

.modal_buttons>button {
  background: #333;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: #fff;
}

.close_btn {
  color: #aaa;
  font-size: 1.5rem;
  font-weight: bold;
}

.close_btn:hover,
.close_btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ------------------------------------------------------------------------- */

.col-4 {
  display: block;
  width: 340px;
  height: 95vh;
  float: left;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 1);
}

.col-4>h1 {
  margin-top: 16px;
  margin-left: 40px;
  text-shadow: 0 0 5px white;
}

#users>li {
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 2px;
}

.col-8 {
  height: 95vh;
  float: right;
  width: calc(100% - 400px);
  padding-left: 16px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}

#chat_form {
  /* fixed at the bottom */
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 0 0 24px 24px;
  padding: 5px 10px 5px 5px;
  height: 36px;
  backdrop-filter: blur(10px);
}

#chat_input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#chat_input:focus {
  outline: none;
}

#chat_form>button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  color: #fff;
}

#chat_form>button:focus {
  outline: 1px solid white;
}

/* messages grow from the bottom up and are justified left if receiving messages and right if it's the current users message */
#messages {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  height: calc(95vh - 46px);
  /* give space for input form at bottom */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

#messages>li {
  display: block;
  float: left;
  clear: both;
}

#messages>li:first-child {
  margin-bottom: 16px;
}

/* default style for left aligned recieved messages */

#messages>li>div:first-child {
  /* name */
  display: none;
  margin-left: 16px;
}

#messages>li>div {
  /* name and time */
  font-size: 0.75rem;
}

#messages>li>div>p {
  /* text */
  display: inline-block;    /* allows timestamp to be on the same line*/
  margin-block-start: 0;
  font-size: 1rem;
  word-break: break-all;
  padding: 0.5rem 1rem;
  max-width: calc(25.5rem);
  margin-block-end: 2px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 5px solid white;
  
}

#messages>li>div>span {
  /* timestamp */
  font-size: 0.8rem;
  font-weight: lighter;
  margin-left: 5px;
}

/* right aigned messages */

.right_align_item {
  float: right;
  margin-right: 16px;
  align-self: flex-end;
}

.right_align_name {
  float: right;
  margin-right: 16px;
  display: none;
}

.right_align_text {
  border-radius: 15px;
}

.right_align_time {
  margin-right: 5px;
}

/* ------------------------------------------------*/

#show_users {
  /* button to show users when on mobile display */
  position: absolute;
  display: none;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 5px 10px;
  right: 32px;
  top: 16px;
  z-index: 3;
  color: rgb(201, 201, 201);
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 1);
}

#show_users:hover {
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
}

#users {
  list-style-type: none;
  border: rgba(0, 0, 0, 0.15)
}

/* https://www.w3schools.com/howto/howto_js_snackbar.asp */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 3;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

/* ------------------------ scroll bar -----------------------*/
/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f17b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  background-clip: padding-box;
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }

  .modal_inputs>input {
    font-size: 1rem;
  }

  .modal_inputs input[type=text] {
    /* give space for color selector */
    width: calc(100% - 120px);
  }

  .modal_inputs>select {
    font-size: 1rem;
  }

  .modal_buttons>button {
    font-size: 1rem;
  }

  .col-4 {
    display: none;
    z-index: 2;
    height: 100%;
    border-radius: 0;
    margin-left: 0;
  }

  .col-8 {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }

  #chat_form {
    left: 0;
    border-radius: 0;
  }

  #messages {
    height: calc(100vh - 46px);
  }

  #messages>li>div>p {
    /* text */
    max-width: calc(100vw - 100px)
      /* give space for just timestamp */
  }

  #show_users {
    display: block;
  }
}